<div class="animated fadeIn" >
    <div class="row"*ngIf="displaySearch">
        <div class="col-lg-12">
           <div class="card">
              <div class="card-header">
                 <i class="fa fa-align-justify"></i>Receipt
              </div>           
             <div class="card-body">
                 <form [formGroup] = "receiptInput" (ngSubmit)="onSubmit()">
                    <div class="form-row">
                       <div class="col">
                          <div class="card-header">
                              <i class="fa fa-align-justify"></i> Find Receipt Details
                           </div>  
                          <div class="form-group row">
                             <label class="col-md-3 col-form-label" for="text-input">Reciept Number</label>
                             <div class="col-md-3">
                                <input type="number" min="0" class="form-control" formControlName="recieptNumber" placeholder="Enter Reciept Number" required>
                             </div>
                          </div>
                          
                          
                          
                                                           
                          <div class="btn-toolbar">
                             <div class="btn-group mr-2">
                               <button type="submit" class="btn btn-md btn-primary"
                               [disabled] = "!receiptInput.get('recieptNumber').valid" >Find</button>
                             </div>
                             <div class="btn-toolbar">
                                <div class="btn-group mr-2">
                                    <button type="submit" class="btn btn-md btn-primary">Clear</button>
                                </div>
                                <!-- <div class="btn-group mr-2">
                                    <button type="button" class="btn btn-md btn-primary" (click)="addRow()">Add Cashier</button>
                                </div> -->
                                <div class="btn-group mr-2">
                                    <button type="submit" class="btn btn-md btn-primary"
                                    [disabled] = "!receiptInput.get('recieptNumber').valid" >Cancel</button>
                                </div>
                                <div class="btn-group mr-2">
                                    <button type="button" class="btn btn-md btn-primary ">Exit</button>
                                </div>
                            </div>
                          </div>
                          
                       </div>
                        
                    </div>
                 </form>
  
              </div>
  
           </div>
        </div>
  
    </div>
	
	<!-- Report/Results Container -->
    <div class="animated fadeIn">
    <div class="row" *ngIf="displayReport">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i>Cancel Receipt details
                  </div>
    
                  <div class="card-body">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="card">
                            <div class="card-header">
                              <i class="fa fa-align-justify"></i>Receipt Details
                            </div>
                            <div class="card-body">
                                <form [formGroup] = "receiptDetails1" *ngFor="let rt of recDet" >
                                    <div class="form-row">
                                       <div class="col">
                  
                                          <div class="form-group row">
                                            <!--Receipt Number-->
                                             <label class="col-md-2 col-form-label" for="text-input">Reciept Number</label>
                                             <div class="col-md-3">
                                                <input type="number" min="0" class="form-control" formControlName="recieptNumber_r" value="{{receiptInput.value.recieptNumber}}" disabled required>
                                             </div>
                                               <!--Receipt Date-->
                                             <label class="col-md-2 col-form-label" for="text-input">Reciept Date</label>
                                             <div class="col-md-3">
                                                <input type="text"  class="form-control" formControlName="recieptDate" value="{{rt.receiptDate}}" disabled required>
                                             </div>
                                          </div>
                                          <div class="form-group row">
                                            <!--Cash Office-->
                                            <label class="col-md-2 col-form-label" for="text-input">Cash Office</label>
                                            <div class="col-md-3">
                                               <input type="text"  class="form-control" formControlName="cashOffice" value="{{rt.co}}" disabled required>
                                            </div>
                                             <!--Comments-->
                                                                                         
                                          </div>
                                          <div class="form-group row">
                                              <!--Received From-->
                                              <label class="col-md-2 col-form-label" for="text-input">Recieved From</label>
                                              <div class="col-md-3">
                                                 <input type="text"  class="form-control" formControlName="recievedFrom" value="{{rt.recFrom}}" disabled required>
                                              </div>
                                               <!--Status/Batch No-->
                                               <label class="col-md-2 col-form-label" for="text-input">Status/Batch No.</label>
                                               <div class="col-md-3">
                                                  <input type="text"  class="form-control" formControlName="pstat" value="{{rt.pStatus}}" disabled required>
                                               </div>
                                              
                                            </div>
                                            <div class="form-group row">
                                                <!--Received From-->
                                                <label class="col-md-2 col-form-label" >Payment Method:</label>
                                                <div class = "col-md-3">
                                                  <select class="form-control" id="selectBrCode" 
                                                  formControlName = "cashier" [disabled]="disableForm">
                                                    <option selected >{{rt.pMethod}}</option>
                                                    
                                                  </select>
                                                </div>
                                                 <!--Status/Batch No-->
                                                 <label class="col-md-2 col-form-label" for="text-input">Cashier Name</label>
                                                 <div class="col-md-3">
                                                    <input type="text"  class="form-control" formControlName="pstat" value="{{rt.Cname}}" disabled required>
                                                 </div>
                                                
                                              </div>
                                              <div class="form-group row">
                                                  <!--Receipt Amount-->
                                                  <label class="col-md-2 col-form-label" for="text-input">Reciept Amount</label>
                                                  <div class="col-md-3">
                                                     <input type="text"  class="form-control" formControlName="recieptAmount" value="{{rt.rAmount}}" disabled required>
                                                  </div>
                                                   <!--Cancellation Reason-->
                                                   <label class="col-md-2 col-form-label" for="text-input">Cancellation Reason</label>
                                                   <div class="col-md-3">
                                                      <input type="text"  class="form-control" formControlName="cancelR" value="{{rt.cReason}}" disabled required>
                                                   </div>
                                                  
                                                </div>
                                          <!-- <div class="form-group row">
                                            <label class="col-md-3 col-form-label">to Date :</label>
                                            <div  class = "col-md-3">
                                              <input class="form-control" id="date-input" type="date" 
                                              formControlName = "toDate" name="date-input" required>
                                            </div>
                                          </div>
                                          <div class = "form-group row">
                                            <label class="col-md-3 col-form-label" >Cashier:</label>
                                            <div class = "col-md-3">
                                              <select class="form-control" id="selectBrCode" 
                                              formControlName = "cashierName" [disabled]="disableForm">
                                                <option [ngValue]="cid"  *ngFor="let cid of cashiers">{{cid.cName}}</option>
                                                
                                              </select>
                                            </div>
                                          </div>
                                                  
                                          <div class="btn-toolbar">
                                             <div class="btn-group mr-2">
                                               <button type="submit" class="btn btn-md btn-primary"
                                                   [disabled] = "!receiptInput.valid">Report</button>
                                             </div>
                                          </div> -->
                                          
                                       </div>
                                        
                                    </div>
                                 </form>
        
                              
                             
                            </div>
                          </div>
        
                          
        
                          
                        </div>
                      </div>
            
                      
                  </div>  
                  
                   <!--TOPL-->
                   <div class="card-body">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="card">
                          <div class="card-header">
                              <i class="fa fa-align-justify"></i> 
                              <button type="button" class="btn btn-primary"
                              (click)="isCollapsed = !isCollapsed">TPOL
                      </button>
                      
                          &nbsp;&nbsp;&nbsp;Receipt Applications
                       
                          </div>
                          

                          <!--TPOL Hidden Table-->
                          <div class="card-body" (collapsed)="collapsed($event)"
                          (expanded)="expanded($event)"
                          [collapse]="isCollapsed">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="card">
                                   
                                    <div class="card-body">
                                        <table class="table table-bordered table-striped table-sm">
                                        <thead>
                                          <tr>
                                            <th>Activity</th>
                                            <th>Period</th>
                                            <th>Policy Number</th>
                                            <th>Status</th>
                                            <th>Payer</th>
                                            <th>Arrears</th>
                                            <th>Expected Amount</th>
                                            <th>Allocated Amount</th>
                                            <th>Reallocation ID</th>
                                          
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let tp of topl">
                                            <td>{{tp.activity}}</td>
                                            <td>{{tp.period}}</td>
                                            <td>{{tp.policyNo}}</td>
                                            <td>{{tp.status}}</td>
                                            <td>{{tp.payer}}</td>
                                            <td>{{tp.arrears}}</td>
                                            <td>{{tp.eamount}}</td>
                                            <td>{{tp.aamount}}</td>
                                            <td>{{tp.raId}}</td>
                                          
                                          </tr>
                                          <tr>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td><b>Total: </b>{{topl[0].aamount}}</td>
                                            
                                            </tr>
                                       
                                         
                                        </tbody>
                                        
                                      </table>
                 <div class="btn-toolbar">
                             <div class="btn-group mr-2">
                               <button type="submit" class="btn btn-md btn-primary"
                               [disabled] = "!receiptInput.get('recieptNumber').valid" >Find</button>
                             </div>
                             <div class="btn-toolbar">
                                <div class="btn-group mr-2">
                                    <button type="submit" class="btn btn-md btn-primary">Clear</button>
                                </div>
                                <!-- <div class="btn-group mr-2">
                                    <button type="button" class="btn btn-md btn-primary" (click)="addRow()">Add Cashier</button>
                                </div> -->
                                <div class="btn-group mr-2">
                                    <button type="submit" class="btn btn-md btn-primary"
                                    [disabled] = "!receiptInput.get('recieptNumber').valid" >Cancel</button>
                                </div>
                                <div class="btn-group mr-2">
                                    <button type="button" class="btn btn-md btn-primary ">Exit</button>
                                </div>
                            </div>
                          </div>
                                     
                                     
                                    </div>
                                  </div>
                
                                  
                
                                  
                                </div>
                              </div>
                    
                              
                        

                                    </div>
      
                            
                           
                          </div>
                        </div>
      
                        
      
                        
                      </div>
                    </div>
                     <!--Receipt Allocation-->
                <div class="card-body">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> Receipt Allocation
                             </div>
                          

                          <!--TPOL Hidden Table-->
                          <div class="card-body">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="card">
                                   
                                    <div class="card-body">
                                        <table class="table table-bordered table-striped table-sm">
                                        <thead>
                                          <tr>
                                            <th>Applcation Mode</th>
                                            <th>Application Description</th>
                                            <th>Amount Allocated</th>
                                           
                                          
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let ra of recAllo">
                                            <td>{{ra.aMode}}</td>
                                            <td>{{ra.aApplication}}</td>
                                            <td>{{ra.aAllocated}}</td>
                                            
                                          
                                          </tr>
                                          <tr>
                                              <td></td>
                                              <td><b>Total: </b></td>
                                              <td>{{recAllo[0].aAllocated}}</td>
                                            
                                            </tr>
                                       
                                         
                                        </tbody>
                                        
                                      </table>
                
                                     
                                     
                                    </div>
                                  </div>
                
                                  
                
                                  
                                </div>
                              </div>
                    
                              
                        

                                    </div>
      
                            
                           
                          </div>
                        </div>
      
                        
      
                        
                      </div>
                    </div>
                    
                </div> 

      </div>
    </div>
  </div>
  </div>