<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Payment Method Details
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>PaymentMethod Code</th>
                <th>PaymentMethod Description</th>
                <th>Enabled</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Aulus Agmundr</td>
                <td>2012/01/21</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
            </tbody>
          </table>
          <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--from start-->
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Cashier Search </strong>
      </div>
      <div class="card-body">
        <form action="" method="post" class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">PaymentMethod Code:</label>
            <div class="col-md-3">
              <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Paymentmethod Description:</label>
            <div class="col-md-3">
              <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Enabled</label>
            <div class="col-md-9 col-form-label">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="option1" id="checkbox1">
            </div>
          </div>
      </div>
      </form>
    </div>
    <div class="card-footer">
      <div class="col-md-3">
        <button type="submit" class="btn btn-md btn-primary"> Save</button>
        <button type="reset" class="btn btn-md btn-primary"> Find</button>
        <button type="submit" class="btn btn-md btn-primary"> Clear</button>
        <button type="reset" class="btn btn-md btn-primary"> Exit</button>
      </div>
    </div>
  </div>
</div>
<!--form end -->
</div>